{% load static %}



   <h1>Список продуктов</h1>

<ul class="news-list">
    <!-- тут обращаемся к ключу во views.py который прописываем в нашем случае это product -->
    {% for i in product %}
    <li class="news-card">
        <!-- Передача переменных из models.py name_products -->
        <h3>{{ i.name_products }}</h3>
        <!-- Передача переменных из models.py image -->
        <img src="{{ i.image.url }}" alt="" width="300" height="400">
        <br>
        <!-- Передача переменных из models.py created_at -->
        <data>{{ i.created_at }}</data>
        <br>
        <!--Передаю счетчики-->
        <p>👁 {{ i.views_count }} | ❤️ {{ i.likes_count }}</p>
        <!-- Передача ссылки на получение id - используем ссылку и i.id  -->
        <button><a href="/product_list/{{ i.id }}/">Читать далее</a></button>
    </li>
    {% endfor %}
</ul>